web-customer-tracker/WebContent/WEB-INF/Customer.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema 	elementFormDefault="qualified"
	xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="usersData">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="user" maxOccurs="unbounded"
					minOccurs="0">
					<xs:complexType>
						<xs:sequence>
							<xs:element type="xs:string" name="firstName" />
							<xs:element type="xs:string" name="lastname" />
							<xs:element type="xs:string" name="email" />
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>